config.php

## IDE-specific files
# NetBeans
.buildpath
.project
nbproject/*
*.sublime-*

# Ignore all themes but the default ones
themes/*
!themes/oslo
!themes/panel

# Operating system-specific files
.DS_Store
Thumbs.db
