[submodule "php-stagebloc-api"]
	path = php-stagebloc-api
	url = https://github.com/stagebloc/php-stagebloc-api.git
[submodule "assets/bender"]
	path = assets/bender
	url = https://github.com/stagebloc/bender.git
