#console {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: url(http://stagebloc.com/images/backend/theme/navgradient.jpg);
	color: #fff;
	padding: 0 10px;
	line-height: 50px;
}

#console form { width: auto; float: right; margin: 0 40px 0 0; }
#console select { font: 15px 'Helvetica Neue', Helvetica, Arial, sans-serif; }

#console .docs {
	display: block;
	height: 50px;
	float: left;
	color: #686c6d;
	text-shadow: 0 1px 0 rgba(0,0,0,.5);
	text-decoration: none;
}
#console:hover .docs { color: #ccc; }
#console .docs:hover { color: #fff; }
#console .docs i {
	display: inline-block;
	width: 42px;
	height: 30px;
	background: url(http://stagebloc.com/images/site/footer-sb.png) no-repeat;
	margin: 0 10px 0 0;
	vertical-align: middle;
}

#renderedTheme {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	height: 100%;
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
	background: #fff;
	box-shadow: 0 0 12px 4px rgba(0, 0, 0, .5)
}

#close {
	display: block;
	background: url(http://stagebloc.com/images/backend/theme/close.png);
	width: 20px;
	height: 20px;
	position: absolute;
	top: 18px;
	right: 15px;
}
#close:hover {
	background-position: 0 20px;
}